<!DOCTYPE html>
<html>
<head>
    <title>Recuperação de Senha</title>
</head>
<body>
    <h1>Olá !</h1>
    <p>Você solicitou a redefinição de sua senha. Por favor, clique no link abaixo para continuar:</p>
    <a href="{{resetLink}}" target="_blank">Redefinir Minha Senha</a>
    <p>Se você não solicitou isso, por favor, ignore este e-mail.</p>
    <p>Este link expirará em 1 hora.</p>
</body>
</html>
